In [1]:
# You're Free  to use this file but any reference will be highly apprecited
# Your reference will not only help me to reach out to more people but also encourages
# me to create helpful learning contents

Connect with me @ :

#YouTube :  https://www.youtube.com/CodesBay 
#LinkedIn:  https://www.linkedin.com/DakshHub
#Twitter :  https://www.twitter.com/DeepakKDaksh
#Facebook:  https://www.facebook.com/DakshHub
#Medium  :  https://www.medium.com/@DakshHub
#Instagram: https://www.instagram.com/DeepakK.Daksh

#### List in Python

___The YouTube Video for this Notebook is @___  https://youtu.be/x4r6yyfw2lg 

___Python List___ _falls in the buil-in type called_ __Sequence types__. _Other prominents sequence types are_ ___tuple___ & ___range___

_List is the array(s) equilant in python_

__At the end, we'll learn some specific programming technique which may help you in writing your code in a better way__

<br/><br/>

In [1]:
# Elemnts of Same type
list = [1,2,3,4,5]

In [2]:
list

[1, 2, 3, 4, 5]

<br/><br/>

In [3]:
# Elemnts of different types
list = [1, 'a', "abcd", 2.0]

In [4]:
list

[1, 'a', 'abcd', 2.0]

#### Similarity With Arrays of other programming Languages


<br/><br/><br/>

In [5]:
list[0]

1

In [6]:
list[3]

2.0

#### List is iterable


<br/><br/><br/>

In [10]:
for list_item in list:
    print(list_item)

100
a
abcd
2.0

<br/>

#### Changing the elements at a particular index


<br/><br/><br/>

In [8]:
list[0] = 100

In [9]:
list[0]

100

<br/>

#### Inserting an removing item in the list


<br/><br/><br/>

In [11]:
list.append("Hello")

In [12]:
list

[100, 'a', 'abcd', 2.0, 'Hello']

In [13]:
list.remove('abcd')

In [14]:
list

[100, 'a', 2.0, 'Hello']

<br/>

#### Inserting elemnt at a particular position in list


<br/><br/><br/>

In [15]:
list.insert(1,"Added at 2nd Position")

In [16]:
list

[100, 'Added at 2nd Position', 'a', 2.0, 'Hello']

<br/>

#### Removing elements from a particular position in list


<br/><br/><br/>

In [17]:
# What if the list has duplicate items
list.append(25)
list.append('Hello')

In [18]:
list

[100, 'Added at 2nd Position', 'a', 2.0, 'Hello', 25, 'Hello']

<br/>

In [19]:
# Let's try to remove this
list.remove('Hello')

In [20]:
list

[100, 'Added at 2nd Position', 'a', 2.0, 25, 'Hello']

<br/>

In [21]:
# Pop an item from a particlar position in list
list.pop(1)

'Added at 2nd Position'

In [22]:
list

[100, 'a', 2.0, 25, 'Hello']

<br/>

<br/>

#### Number of elements in the list



<br/><br/><br/>

In [23]:
count = 0

for list_item in list:
    count += 1
    
print("Count => ", count)

Count =>  5

<br/>

In [24]:
# Use the built-in len function
len(list)

5

<br/>

<br/>

#### Extend the list with multiple elements

___List___ _can be extended using iterable_



<br/><br/><br/>

In [25]:
new_list = [1,2,3,4,5,6,7,8,9,10]

In [26]:
list.extend(new_list)

In [27]:
list

[100, 'a', 2.0, 25, 'Hello', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<br/><br/>

In [28]:
# This line will give error, we need to use append instead

list.extend(1)

TypeError: 'int' object is not iterable

<br/><br/>

In [29]:
#reset the list to original list
list = [100, 2.0, 25, 'Hello']

In [30]:
list.extend([100])

In [31]:
list.extend([100,200])

In [32]:
# Can be extended using any iterable including tuple

list.extend(('t1','t2','t3'))

<br/><br/>

In [33]:
list

[100, 2.0, 25, 'Hello', 100, 100, 200, 't1', 't2', 't3']

<br/>

#### Conditional Operations on List



<br/><br/><br/>

In [34]:
if 100 in list:
    print("100 is in the list")

100 is in the list

In [35]:
if 101 not in list:
    print("101 is NOT present in the lists")

101 is NOT present in the lists

<br/>

#### Sorting the list

<br/>

___Yes the lists can be sorted but there is a condition___

_The list must be_ ___Homogeneous___


<br/><br/><br/>

In [36]:
list

[100, 2.0, 25, 'Hello', 100, 100, 200, 't1', 't2', 't3']

In [37]:
# what will happen when we call sort on this list

list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [38]:
min(list)

TypeError: '<' not supported between instances of 'str' and 'float'

In [39]:
max(list)

TypeError: '>' not supported between instances of 'str' and 'int'

<br/><br/>

In [40]:
# Let's create a new homogeneous list

list = [ 10 , 6, 11 ,8, 90, 34,100, 43 ,16 ,17]

In [41]:
list

[10, 6, 11, 8, 90, 34, 100, 43, 16, 17]

<br/>

In [42]:
min(list)

6

In [43]:
max(list)

100

In [44]:
# it's in-pace sort
list.sort()

In [45]:
list

[6, 8, 10, 11, 16, 17, 34, 43, 90, 100]

<br/>

#### How to check type of list elements

<br/>

___Yes, you need it if you're doing any mathematical operations___




<br/><br/><br/>

In [48]:
result = True

for list_item in list:
    if not isinstance(list_item, int):
        result = False
        
print("The result is => ", result)

The result is =>  False

In [47]:
list.append('a')

In [49]:
all(isinstance(list_item, int) for list_item in list)

False

In [50]:
list.remove('a')

<br/><br/><br/>

In [52]:
list

[6, 8, 10, 11, 16, 17, 34, 43, 90, 100]

In [53]:
list.append(3.5)

In [56]:
all(isinstance(list_item, (int, float)) for list_item in list)

True

<br/>

#### Deleting the list

___1. Getting rid of the list elements___

___2. Getting rid of the list itself___

<br/>




<br/><br/><br/>

In [57]:
list

[6, 8, 10, 11, 16, 17, 34, 43, 90, 100, 3.5]

In [58]:
# Remove all elements of the list
list.clear()

In [59]:
list

[]

<br/><br/><br/>

In [60]:
# Remove the list itself

del list

<br/>

#### Multi Dimension Lists (Matrix and Tensors)

<br/>




<br/><br/><br/>

In [63]:
matrix_2by3 = [ 
          [1, 2, 3],
          [4, 5, 6]
]

In [64]:
matrix_2by3

[[1, 2, 3], [4, 5, 6]]